<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="zema-packages" value="https://nuget.pkg.github.com/Load-Connex/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="zema-packages">
      <package pattern="zema*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <zema-packages>
      <add key="Username" value="%Nuget_ZemaPackagesUserName%" />
      <add key="ClearTextPassword" value="%Nuget_ZemaPackagesPassword%" />
    </zema-packages>
  </packageSourceCredentials>
</configuration>
